* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Lato', sans-serif; }

.max-width {
  width: 100%;
  max-width: 80vw;
  margin: 0 auto; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

.header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #593622;
  color: #fff;
  padding: 30px 20px; }
  .header__content {
    display: flex;
    flex-direction: none;
    justify-content: space-between;
    align-items: center; }
    .header__content-logo {
      color: #fff;
      font-weight: bold;
      font-size: 3em; }
      .header__content-logo:hover {
        color: #bdbdbd; }
      .header__content-logo-menu {
        height: 30px;
        display: none;
        cursor: pointer; }
    .header__content-navbar {
      display: flex;
      align-items: center; }
      .header__content-navbar-item {
        color: #fff;
        font-weight: bold;
        font-size: 1.7em;
        margin: 0 15px;
        transition: all 0.3s; }
        .header__content-navbar-item:hover {
          color: #bdbdbd; }
        .header__content-navbar-item:active {
          transform: scale(0.9px); }
      .header__content-navbar li:last-child {
        border: 1px solid #fff;
        border-radius: 8px;
        padding: 6px 2px; }

.hamburger {
  display: none;
  cursor: pointer; }
  .hamburger__bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff; }

.main__banner {
  width: 100%;
  height: 90vh;
  background: url(../../assets/img/wood-min.png);
  background-size: cover;
  background-attachment: fixed; }
  .main__banner-portada {
    height: 100%;
    width: 100%;
    max-width: 50vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .main__banner-portada h1 {
      color: #fff;
      font-weight: bold;
      font-size: 4em;
      text-align: center;
      padding: 20px;
      text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4); }
    .main__banner-portada p {
      color: #fff;
      font-weight: none;
      font-size: 2em;
      text-align: center;
      text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4); }
    .main__banner-portada a {
      color: #000;
      font-weight: bold;
      font-size: 1.8em;
      text-align: center;
      display: inline-block;
      text-decoration: none;
      margin-top: 30px;
      padding: 10px 15px;
      background-color: #D99559;
      border-radius: 50px;
      border: 1px solid #593622;
      transition: all 0.3s; }
      .main__banner-portada a:hover {
        color: #fff;
        background-color: #924b24; }

.destacados {
  display: grid;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  width: 100%;
  max-width: 70vw;
  margin: 0 auto;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 550px);
  row-gap: 50px; }
  .destacados-title {
    color: none;
    font-weight: bold;
    font-size: 4.5em;
    display: block;
    text-align: center;
    margin: 50px 10px; }
  .destacados__card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #e6e6e6;
    height: 500px;
    width: 350px;
    border-radius: 20px;
    box-shadow: 0 15px 30px -12px rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin: 25px;
    transition: all 0.3s; }
    .destacados__card:hover {
      transform: translateY(-10px); }
    .destacados__card-img {
      height: 300px;
      margin-bottom: 20px;
      border-radius: 10px; }
    .destacados__card-title {
      font-size: 2em;
      text-align: center;
      font-weight: bold; }
    .destacados__card-description {
      font-size: 1.5em;
      text-align: center;
      padding: 10px; }
    .destacados__card-price {
      font-size: 1.8em;
      color: #593622; }

.main__button {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.button__main {
  text-align: center;
  width: 170px;
  font-size: 1.5em;
  font-weight: bold;
  color: #fff;
  background-color: #593622;
  padding: 15px;
  margin: 0 15px;
  border-radius: 20px;
  box-shadow: 0 15px 30px -12px rgba(0, 0, 0, 0.5);
  transition: all 0.3s; }
  .button__main:hover {
    color: #fff;
    background-color: #924b24; }

.footer {
  width: 100%;
  margin-top: 100px;
  background-color: #593622; }
  .footer__title {
    text-align: center;
    font-size: 2.5em;
    color: #fff;
    padding: 15px; }
  .footer__social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .footer__social-logo {
      height: 40px;
      margin: 10px;
      transition: all 0.3s; }
      .footer__social-logo:hover {
        transform: translateY(-5px); }

.footer__container {
  margin-top: 15px;
  text-align: center; }
  .footer__container-up {
    color: #000;
    font-weight: bold;
    font-size: 1.5em;
    background-color: #fff;
    border-radius: 50px;
    padding: 5px 8px;
    transition: all 0.3s; }
    .footer__container-up:hover {
      color: #000;
      background-color: #bdbdbd; }
  .footer__container-copy {
    color: #fff;
    font-weight: none;
    font-size: 1.3em;
    padding: 30px 0 5px 0; }

.arrowup img {
  position: fixed;
  height: 60px;
  bottom: 0;
  right: 0;
  margin: 40px; }

.contacto-button {
  text-align: center;
  margin: 50px 0; }

.mainProductos h1 {
  text-align: center;
  color: #000;
  font-size: 4em;
  font-weight: bold;
  margin: 60px 0;
  padding: 20px; }

.mainProductos h2 {
  text-align: center;
  color: #fff;
  font-size: 4em;
  font-weight: bold;
  padding: 30px;
  background-image: url(../../assets/img/wood-min.png);
  background-attachment: fixed;
  background-size: 150%; }

.sectionGrid {
  display: grid;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  margin: 50px auto; }
  .sectionGrid__card {
    margin: 30px;
    width: 360px;
    height: 150px;
    background-color: #e6e6e6;
    border-radius: 3%;
    padding: 15px;
    display: grid;
    grid-template-columns: 100px 220px;
    column-gap: 20px;
    justify-content: center;
    box-shadow: 0 15px 30px -12px rgba(0, 0, 0, 0.5); }
    .sectionGrid__card:hover {
      background-color: #593622;
      color: #fff; }
    .sectionGrid__card img {
      height: 110px;
      border-radius: 8%;
      align-self: center; }

.sectionGrid__card-right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: none; }
  .sectionGrid__card-right h3 {
    text-align: left;
    font-size: 1.6em;
    font-weight: bold; }
  .sectionGrid__card-right p {
    font-size: 1.2em; }
  .sectionGrid__card-right h4 {
    color: #593622;
    font-size: 1.7em; }

.mainNosotros_title {
  margin: 80px 0; }

.mainNosotros__nosotros {
  display: grid;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  max-width: 60vw;
  grid-template-columns: 200px 600px;
  column-gap: 150px;
  margin: 0 auto; }
  .mainNosotros__nosotros-img, .section2__img {
    height: 40vh;
    border-radius: 15px;
    border: #593622 8px solid; }
  .mainNosotros__nosotros p {
    font-size: 2em; }

.mainContacto__section1 p {
  font-size: 2em;
  text-align: center; }

.section1__description {
  text-align: center; }

.mainContacto__section2 {
  max-width: 70vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 50px;
  margin: 80px auto; }

.mainContacto__section2 p {
  font-weight: bold; }

.section2__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: none; }
  .section2__form input, .section2__form textarea, .section2__form select {
    width: 100%;
    padding: 10px 10px;
    margin-bottom: 15px;
    font-size: 1.7em;
    border: 1px solid #593622;
    border-radius: 5px; }
  .section2__form label {
    font-size: 1.7em; }
  .section2__form textarea {
    max-height: 130px;
    min-height: 130px; }
  .section2__form button {
    padding: 15px;
    font-size: 1.7em;
    border: none;
    background-color: #593622;
    color: #fff;
    cursor: pointer;
    width: 130px;
    margin: 10px 0;
    border-radius: 5px; }

.section2 {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center; }
  .section2__wppbutton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-size: 2em;
    color: #000; }
    .section2__wppbutton:hover {
      transform: rotate(5deg); }

.wppbutton__wpp {
  height: 80px; }

@media screen and (max-width: 1220px) {
  .sectionGrid {
    grid-template-columns: repeat(2, 1fr); } }

@media screen and (max-width: 1040px) {
  .mainNosotros__nosotros {
    max-width: 80vw;
    grid-template-columns: 200px 400px; } }

@media screen and (max-width: 975px) {
  .destacados {
    grid-template-columns: repeat(2, 400px); }
  .mainContacto__section2 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-row-gap: 5vh; }
  .section2__form button {
    align-self: center; }
  .wppbutton {
    font-size: 0.8em; }
    .wppbutton__wpp {
      height: 8vh; } }

@media screen and (max-width: 815px) {
  .hamburger {
    display: block; }
    .hamburger.active .hamburger__bar:nth-child(2) {
      opacity: 0; }
    .hamburger.active .hamburger__bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg); }
    .hamburger.active .hamburger__bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg); }
  .header__content-navbar {
    position: fixed;
    left: -100%;
    top: 90px;
    row-gap: 10px;
    padding-bottom: 50px;
    flex-direction: column;
    background-color: #593622;
    width: 100%;
    transition: 0.3s; }
    .header__content-navbar-item {
      font-size: 3em; }
    .header__content-navbar.active {
      left: 0; }
  .destacados {
    grid-template-columns: 1fr;
    grid-row-gap: 10px; }
  .sectionGrid__card {
    grid-template-columns: 50px 200px;
    width: 300px;
    height: 100px;
    align-items: center;
    column-gap: 35px; }
    .sectionGrid__card img {
      height: 80px; }
  .sectionGrid__card-right h3 {
    font-size: 1.4em; } }

@media screen and (max-width: 768px) {
  .mainNosotros__nosotros {
    grid-template-columns: 1fr;
    row-gap: 50px; }
    .mainNosotros__nosotros img {
      height: 35vh; }
    .mainNosotros__nosotros p {
      text-align: center; } }

@media screen and (max-width: 675px) {
  .sectionGrid {
    grid-template-columns: 1fr; } }

@media screen and (max-width: 650px) {
  .destacados__card {
    width: 250px;
    height: 400px; }
  .destacados__card-img {
    height: 200px; }
  .main__button {
    display: flex;
    flex-direction: column;
    margin: 50px 0; }
  .button__main {
    margin: 10px 0px; }
  .banner__portada {
    max-width: 80vw; }
  .arrowup img {
    margin: 15px;
    height: 50px; } }

@media screen and (max-width: 500px) {
  .section2__img {
    height: 25vh; }
  .section2__wppbutton {
    font-size: 1.5em; } }

@media screen and (max-width: 400px) {
  .max-width {
    max-width: 70vh; } }

@media screen and (max-width: 321px) {
  .mainNosotros_title {
    max-width: 80vw;
    margin: 80px auto; }
  .mainNosotros__nosotros img {
    height: 30vh; }
  .mainNosotros__nosotros p {
    text-align: center; } }
