.header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: $color-principal;
    color: #fff;
    padding: 30px 20px;

    &__content {
        @include flexcenter (flex, none, space-between, center);

        &-logo {
            @include font (#fff, bold, 3em);

            &-menu {
                height: 30px;
                display: none;
                cursor: pointer;
            }
        }

        &-navbar {
            display: flex;
            align-items: center;

            &-item {
                @include font (#fff, bold, 1.7em);
                margin: 0 15px;
                transition: all 0.3s;

                &:hover {
                    color: #bdbdbd;
                }

                &:active {
                    transform: scale(0.9px);
                }
            }

            & li:last-child {
                border: 1px solid #fff;
                border-radius: 8px;
                padding: 6px 2px;
            }
        }
    }
}

.hamburger {
    display: none;
    cursor: pointer;

    &__bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        border-radius: 3px;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: #fff;
    }
}