@media screen and (max-width: 1220px){

    /* Page Productos */
    .sectionGrid {
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width: 975px){

    /* Page Index */
    .destacados{
        grid-template-columns: repeat(2, 400px)
    }

    /* Page contacto */
    .mainContacto__section2{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-row-gap: 5vh;

    }

    .section2__form button {
        align-self: center;
    }

    .wppbutton {
        font-size: 0.8em;
    }

    .wppbutton__wpp {
        height: 8vh;
    }

}

@media screen and (max-width: 901px){

    /* Page Nosotros */
    .mainNosotros_title {
        margin-top: 80px;
    }

    .mainNosotros__nosotros{
        max-width: 60vw;
        margin: 0 auto;
        flex-direction: column;

        & img {
            height: 25vh;
            margin-bottom: 50px;
        }

        & p {
            text-align: center;
            margin-left: 0;
        }
    }
}

// & img {
//     height: 35vh;
//     margin-bottom: 50px;
// }

// & p {
//     text-align: center;
// }


@media screen and (max-width: 815px){

    /* Page index */
    .hamburger {
        display: block;
        
        &.active .hamburger__bar:nth-child(2) {
            opacity: 0;
        }
        &.active .hamburger__bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
        }
        &.active .hamburger__bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg)
        }
    }

    .header__content-navbar {
        position: fixed;
        left: -100%;
        top: 90px;
        gap: 20px;
        padding-bottom: 50px;
        flex-direction: column;
        background-color: #593622;
        width: 100%;
        text-align: center;
        transition: 0.3s;

        &-item {
            font-size: 3em;
        }

        &.active {
            left: 0;
        }
    }

    .destacados {
        grid-template-columns: 1fr;
        grid-row-gap: 10px;
    }

    /* Page Productos */
    .sectionGrid__card{
        grid-template-columns: 50px 200px;
        width: 300px;
        height: 100px;
        align-items: center;
        column-gap: 35px;
    }
    .sectionGrid__card img {
        height: 80px;
    }

    .sectionGrid__card-right h3{
        font-size: 1.4em;
    }

}
@media screen and (max-width: 675px){

    /* Page Productos */
    .sectionGrid {
    grid-template-columns: 1fr;
    }


}

@media screen and (max-width: 650px){

    /* Page Contacto */
    .section2__form {
        display: flex;
        flex-direction: column;
    }

    .section2__form textarea {
        height: 100%;
    }

    /* Page Index */
    .destacados__card {
        width: 250px;
        height: 400px;
    }
    .destacados__card-img {
        height: 200px;
    }

    .main__button {
        display: flex;
        flex-direction: column;
        margin: 50px 0;
    }

    .button__main {
        margin: 10px 0px;
    }

    .banner__portada {
        max-width: 80vw;
    }
}

@media screen and (max-width: 400px) {

    /* general */
    .max-width{
        max-width: 70vh;
    }

    /* Page Nosotros */
    .mainNosotros_title{
        font-size: 3.5em;
    }

    .mainNosotros__nosotros{
        max-width: 30vh;
    }
}