.mainContacto__section1 p {
    font-size: 2em;
    text-align: center;
}

.section1__description {
    text-align: center;
}

.mainContacto__section2 {
    max-width: 70vw;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 50px;
    margin: 80px auto;

}

.section2__img {
    @extend .mainNosotros__nosotros-img;
}

.mainContacto__section2 p {
    font-weight: bold;
}

.section2__form {
    @include flexcenter (flex, column, center, none);

    & input, textarea, select {
        width: 100%;
        padding: 10px 10px;
        margin-bottom: 15px;
        font-size: 1.7em;
        border: 1px solid $color-principal;
        border-radius: 5px;
    }

    & label {
        font-size: 1.7em;
    }

    & textarea {
        max-height: 130px;
        min-height: 130px;
        font-size: 2.2em;
    }

    & button {
        padding: 15px;
        font-size: 1.7em;
        border: none;
        background-color: $color-principal;
        color: #fff;
        cursor: pointer;
        width: 130px;
        margin: 10px 0;
        border-radius: 5px;
    }
}

.section2 {
    @include flexcenter (flex, column, none, center);

    &__wppbutton {
        @include flexcenter (flex, row, center, center);
        margin-top: 30px;
        font-size: 2em;
        color: #000;

        &:hover {
            transform: rotate(5deg);
        }
    }
}

.wppbutton__wpp {
    height: 80px;
}