// HERO
.main__banner {
    width: 100%;
    height: 90vh;
    background: url(../../assets/img/wood-min.png);
    background-size: cover;
    background-attachment: fixed;

    &-portada {
        height: 100%;
        width: 100%;
        max-width: 50vw;
        margin: 0 auto;
        @include flexcenter (flex, column, center, center);

        & h1 {
            @include font (#fff, bold, 4em);
            text-align: center;
            padding: 20px;
            text-shadow: $text-shadow;
        }

        & p {
            @include font (#fff, none, 2em);
            text-align: center;
            text-shadow: $text-shadow;
        }

        & a {
            @include font (#000, bold, 1.8em);
            text-align: center;
            display: inline-block;
            text-decoration: none;
            margin-top: 30px;
            padding: 10px 15px;
            background-color: #D99559;
            border-radius: 50px;
            border: 1px solid $color-principal;
            transition: all 0.3s;
            animation: shake 2s linear infinite;
            transform-origin: 50% 50%;
            
            &:hover {
                color: #fff;
                background-color: $color-principal;
                background-blend-mode: darken;
            }
        }
    }
}


.destacados {
    @include gridcenter;
    width: 100%;
    max-width: 70vw;
    margin: 0 auto;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 550px);
    row-gap: 50px;

    &-title {
        @include font (none, bold, 4.5em);
        display: block;
        text-align: center;
        margin: 50px 10px;
    }

    &__card {
        @include flexcenter (flex, column, space-evenly, center);
        background-color: $color-gris;
        height: map-get($estilocard, altura);
        width: map-get($estilocard, ancho );
        border-radius: map-get($estilocard, borde);
        box-shadow: map-get($estilocard, sombra);
        padding: 20px;
        margin: 25px;
        transition: all 0.3s;

        &:hover {
            transform: translateY(-10px);
        }

        &-img {
            height: 300px;
            margin-bottom: 20px;
            border-radius: 10px;
        }

        &-title {
            font-size: 2em;
            text-align: center;
            font-weight: bold;
        }

        &-description {
            font-size: 1.5em;
            text-align: center;
            padding: 10px;
        }

        &-price {
            font-size: 1.8em;
            color: $color-principal;
        }
    }
}

// BUTTONS  
.main__button {
    margin-top: 100px;
    @include flexcenter (flex, row, center, center);
}

.button__main {
    text-align: center;
    width: 170px;
    font-size: 1.5em;
    font-weight: bold;
    color: #fff;
    background-color: $color-principal;
    padding: 15px;
    margin: 0 15px;
    border-radius: 20px;
    box-shadow: $box-shadow;
    transition: all 0.3s;

    &:hover {
        background-color: #924b24;
    }
}