.mainNosotros_title {
    margin: 80px 0;
}

.mainNosotros__nosotros {
    max-width: 60vw;
    display: grid;
    grid-template-columns: 200px 600px;
    column-gap: 150px;
    align-content: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin: 0 auto;

    &-img {
        height: 40vh;
        border-radius: 15px;
        border: $color-principal 8px solid;
    }

    & p {
        font-size: 2em;
    }
}