.arrowup img{
    position: fixed;
    height: 60px;
    bottom: 0;
    right: 0;
    margin: 40px;
}

.contacto-button {
    text-align: center;
    margin: 50px 0;
}


.mainProductos {
    & h1{
        text-align: center;
        color: #000;
        font-size: 4em;
        font-weight: bold;
        margin: 60px 0;
        padding: 20px;    
    }
    
    & h2{
        text-align: center;
        color: #fff;
        font-size: 4em;
        font-weight: bold;
        padding: 30px;
        background-image: url(../../assets/img/wood-min.png);
        background-attachment: fixed;
        background-size: 150%;
    }
}

.sectionGrid {
    @include gridcenter;
    grid-template-columns: repeat(3,1fr);
    margin: 50px auto;
    
    &__card  {
        margin: 30px;
        width: 360px;
        height: 150px;
        background-color: $color-gris;
        border-radius: 3%;
        padding: 15px;
        display: grid;
        grid-template-columns: 100px 220px;
        column-gap: 20px;
        justify-content: center;
        box-shadow: 0 15px 30px -12px rgba(0,0,0,0.5);

        &:hover {
            background-color: $color-principal;
            color: #fff;
        }

        & img {
            height: 110px;
            border-radius: 8%;
            align-self: center;
        }
        
    }

}


.sectionGrid__card-right {
    @include flexcenter (flex, column, space-evenly, none);

    & h3 {
        text-align: left;
        font-size: 1.6em;
        font-weight: bold;
    }

    & p {
        font-size: 1.2em;
    }

    & h4 {
        color: $color-principal;
        font-size: 1.7em;
    }
    
}    
